{{#if this.topic.show_average}}
  <div class="topic-rating">
    {{rating-unbound this.topic}}
    {{#if this.siteSettings.show_exact_average_rating}}
      <span class="exact-rating">({{this.topic.average_rating}})</span>
    {{/if}}
  </div>
{{/if}}