{{#if context.topic.show_average}}
  <div class="topic-rating">
    {{rating-unbound context.topic.average_rating post_number}}
    {{#if context.siteSettings.show_exact_average_rating}}
      <span class="exact-rating">({{context.topic.average_rating}})</span>
    {{/if}}
  </div>
{{/if}}
